body			{ background: white; color: black;
			  font-family: sans-serif;
			  text-align: justify; }

.code-snippet		{ background: #f5f5f5;
			  margin-left: 2em; margin-right: 2em;
			  padding-left: 1em; padding-right: 1em;
			  border: outset; border-width: 1px;
			  margin-bottom: 1em; margin-top: 1em;}

dd .code-snippet	{ margin-left: 0em; }
pre			{ font-family: monospace; }
//.code-comment		{ color: red; }

a			{ text-decoration: none; font-weight: bold;
			  color: #005A9C; }
a:hover			{ text-decoration: underline; }


dl dt			{ font-weight: bold; }

.property-list dl dt	{ background: #ffffd0; }
.property-list dl dd	{ padding-bottom: 0.5em; }
.property-list dl dd p	{ padding-top: 0; margin-top: 0; }

hr			{ width: 80%; background: #005A9C; }

h1			{ color: #005A9C;
			  font-family: serif; }
h2			{ color: #005A9C;
			  font-family: serif; }
h3			{ font-family: serif; }

#section-title		{ text-align: left;}
#doc-title		{ text-align: center;}

p			{ font-family: sans-serif; }

#toc dt			{ color: #005A9C; }
